<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true"/>

@model LoginViewModel 

@{
    ViewData["Title"] = "Home";
}

<!--Modal-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Heading-->
<header>
     <h1 class="heading-title">MANAGE YOUR MONEY <br />WORLDWIDE IN <span style="color:red;">_ZymBank</span></h1>
     <p class="text-secondary">
         Get paid and send your money globally.
         You are ensured by us that your money <br />
         is managed securely without worry. 
         Learn more about the international bank,
         <a href="#" style="color: crimson;">ZymBank</a>.
     </p>

     <div>
         <button class="sendBtn" style="margin-right: 50px;" type="button">Send Money</button>
         <a href="#" style="color: crimson;">Check how our transfers work</a>
     </div>
</header>
<hr class="mb-5"/>

<!--Carousel-->
<div class="carousel" >
    <div class="carousel-body">
        <div class="carousel-img">
            <img src="~/photos/photo3.jpg" class="d-block w-100" alt="Slide 1" />
        </div>
        <div class="carousel-img">
            <img src="~/photos/photo4.jpg" class="d-block w-100" alt="Slide 2" />
        </div>
        <div class="carousel-img">
            <img src="~/photos/photo2.jpg" class="d-block w-100" alt="Slide 3" />
        </div>
        <div class="carousel-img">
            <img src="~/photos/photo1.jpg" class="d-block w-100" alt="Slide 4" />
        </div>
    </div>
    <ol class="indicators">
        <li class="indicator active" data-slide-to="0"></li>
        <li class="indicator" data-slide-to="1"></li>
        <li class="indicator" data-slide-to="2"></li>
        <li class="indicator" data-slide-to="3"></li>
    </ol>
</div><br />


<section class="container d-flex p-5" style="background-color: red;">
    <div class="text-white p-1" style="border: 1px solid black;">
            <h5 class="">Why Sign Up?</h5>
            <p class="">
                Here in ZymBank, we believe in your security <br />
                privacy is one of the most important thing
                to have a successful business. We also provide
                the ability to change current currenty or buy 
                them separately. Our fees are as low as $1USD.
            </p>
    </div>
    <div class="w-100" style="border: 1px solid black;">

    </div>
</section>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        $(document).ready( function() {
            $('#messageModal').modal('show');
        });
    </script>
}

<!--
@using (Html.BeginForm("LoginForm", "Home", FormMethod.Post, new { @class = "text-center form-container p-3 shadow rounded background-white" }))
{
    @Html.AntiForgeryToken()
                <h5>Login</h5>
                <div>
                    <div class="form-group">
            @Html.TextBoxFor(m => m.UserEmail, new { @class = "inputTxt" }) <br />
                    </div>

                    <div class="form-group">
            @Html.TextBoxFor(m => m.Password, new { @class = "inputTxt" }) <br />
                    </div>

                    <div class="form-group row">
                        <div class="col">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <div class="col">
                            <a style="color:red;" href="#">Forgot Password</a>
                        </div>
                    </div>
                </div>

                <br />
                <button class="logBtn" type="submit">Login</button>
                <br />
                <p>Not a member? <a style="color:red;" href="#">Sign Up</a></p>
}
-->
