<link rel="stylesheet" href="~/css/homepage.css" />

@model LoginViewModel 

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
     <h1>Welcome to the <span style="color:red;">_ZymBank</span></h1>
     <p>Learn more about the international <a href="#">ZymBank</a></p>
</div>

<!--Modal-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    </div>

<!-------->

@using (Html.BeginForm("LoginForm","Home", FormMethod.Post, new { @class = "text-center m-2 p-3 shadow rounded" })) 
{
    @Html.AntiForgeryToken()

    <div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserEmail) <br />
            @Html.TextBoxFor(m => m.UserEmail, new { @class = "inputTxt" }) <br />
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password) <br />
            @Html.TextBoxFor(m => m.Password, new { @class = "inputTxt" }) <br />
        </div>

        <div class="form-group row">
            <div class="col">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="col">
                <a style="color:red;" href="#">Forgot Password</a>
            </div>
        </div>
    </div>

    <br />
    <button class="logBtn" type="submit">Login</button>
    <br />
    <p>Not a member? <a style="color:red;" href="#">Sign Up</a></p>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        $(document).ready( function() {
            $('#messageModal').modal('show');
        });
    </script>
}